{{!< default}}
<div class="container">
    <div id="mainCarousel" class="carousel slide" data-interval="5000" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#mainCarousel" data-slide-to="1"></li>
            <li data-target="#mainCarousel" data-slide-to="2"></li>
        </ol>
        
        <div class="carousel-inner">
            <div class="item active">
                <img src="images/stock-kudu.jpg"/>
            </div>
            <div class="item">
                <img src="images/magenta-skies.jpg"/>
            </div>
            <div class="item">
                <img src="images/moving-herd.jpg"/>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#mainCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#mainCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm">
            <p>Hilltop Ranch is outside Taylor, Texas, north east of Austin, Texas.  The ranch sits on a beautiful hilltop overlooking miles of central Texas.  It is high fenced and has three(3) ponds that are stocked with bass and catfish.  The ranch has several hundred acres to hunt exotic and whitetail deer.  Small game like dove, ducks , quail, pheasants and turkeys are available when in season.
            </p>
            <p>The town of Taylor, Texas is approximately 10 miles away and has many good hotels, restaurants, car rentals and an airport to accommodate you.  Meat packing plants are also available for care and processing of your game. 
            </p>
            <p>The ranch has trophy exotics like Texas Dall, Corsican, Black Buck, Fallow, Elk, Axis and more.  There is no season on these animals, although a license is required (see links).  We allow rifle, black powder and bow hunting.  Hunting is from several blinds and stalking, and assistants are available for those with special needs.  Please let us know if assistance is need so arrangements can be made.
            </p>
            <p>RV hookup, water and electricity is also available for your stay.
            </p>
        </div>
    </div>
</div>
